.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--dark400);
  /* border-radius: 50px; */
  padding: 100px 50px;
  gap: 30px;
  position: relative;
}

.topSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.topSection h2 {
  font-size: 24px;
  font-weight: 600;
}

.tableSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  background: #fff;
  padding: 20px;
}

.middleSection {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-self: stretch;
  justify-items: stretch;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: #fff;
}

.card:hover {
  background: var(--light700);
}

.cardImage {
  width: 100%;
  min-height: 200px;
  background: rgba(67, 53, 144, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardInfo {
  width: 100%;
  padding: 10px;
  flex: 1;
  text-align: center;
}

.addNewButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #433590;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

.officeHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchArea {
  display: flex;
  align-items: center;
  gap: 15px;
}

.searchArea {
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  height: 40px;
  padding: 10px;
}

.searchArea input {
  outline: none;
}

.tableSection table {
  width: 100%;
  /* border-collapse: collapse; */
  border-collapse: separate;
  border-spacing: 0 1em;
}

.tableSection td,
.tableSection th {
  border: 0;
  text-align: left;
  padding: 8px;
}

.tableSection tbody tr {
  background-color: #fff;
  box-shadow: 0px 0.926523px 3.70609px rgba(5, 130, 18, 0.16),
    inset 0px 0.926523px 0.926523px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.tableSection thead th {
  padding-bottom: 20px;
  color: #565d74;
}

.tableSection th span {
  color: #fbb30b;
}

.tableSection td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* color: #e4e4e4;
  font-size: 30px; */
}
.tableSection td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width: 500px) {
  .container {
    padding: 80px 30px;
    border-radius: 30px;
  }
  .tableSection {
    gap: 20px;
    flex-direction: column;
  }
  .addNewButton {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 70px 20px;
  }

  .topSection {
    flex-direction: column;
  }

  .topSection h2 {
    order: 2;
  }
}
