.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-top: 100px;
}

.linkGroup,
.links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.links li {
  display: flex;
  padding: 20px 30px 20px 5vw;
  width: 100%;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.links li:hover {
  background: var(--dark300);
}

.active {
  background: var(--dark400);
}

.icon {
  font-size: 36px;
  color: rgba(67, 53, 144, 1);
}

@media (min-width: 1900px) {
  .links {
    padding-left: 95px;
  }
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
